:root {
  --steps: 7;
}
body{
  background-color: black;
}
h1 {
  color:white;
  font-family: Monaco, Menlo, Consolas, 'Droid Sans Mono', Inconsolata, 'Courier New', monospace;
  text-align: center;
}
p {
  color:white;
  font-family: Monaco, Menlo, Consolas, 'Droid Sans Mono', Inconsolata, 'Courier New', monospace;
  text-align: center;
}
.div {
  text-align: center;
}
button {
  background-color: black;
  color: white;
}
a {
 color: white;
}
.div2{
  text-align: center;
}
img {
  width: 300px;
  height: auto;
}